{#
/**
 * @file
 * Theme override for the tags field.
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'taxonomy-terms'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass('field__label') }}>{{ label }}</div>
  {% endif %}
  <div{{ content_attributes.addClass('field__items') }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item', 'taxonomy-term') }}>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div> 